.form_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    text-align: center;
    border-radius: 5px;
    backdrop-filter: blur(5px);
    background-image: linear-gradient(to right, rgba(173, 193, 254, 0.898), rgba(255, 157, 157, 0.687));
    min-width: 320px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.input_box {
    text-align: left;
    position: relative;
    width: 100%;
}

.input_box>input {
    padding: 5px;
    width: 100%;
    font-size: 1rem;
}

.input_box>span {
    border: 1px solid;
    height: 100%;
    padding: 5px 1rem;
    font-weight: bolder;
    background-color: grey;
    cursor: pointer;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
}

.input_box>label {
    position: absolute;
    color: black;
    left: 5px;
    top: 0;
    letter-spacing: 2px;
    pointer-events: none;
    transition: transform .1s linear .1s;
}

.input_box>input:focus~.input_box>label,
input:not(:placeholder-shown)~label {
    left: 0;
    transform: translate(0, -20px);
    font-size: 12px;
}

.form_submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
}


input[type="submit"] {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
    border-radius: 5px;
    width: max-content;
    cursor: pointer;
    margin: auto;
    color: grey;
    padding: .3rem .5rem;
    background: royalblue;
    color: #fff;
    transition: all .2s;
}

input[type="submit"]:hover {
    opacity: 80;
    scale: 1.05;
    background: #fff;
    color: royalblue;
}


.form_submit>span {
    cursor: pointer;
    padding: .4rem .8rem;
}

.form_submit>span {
    border-radius: 5px;
    border: 1px solid transparent;
    color: royalblue;
    text-decoration: underline;
    font-weight: 600;
}

.form_submit>span:hover {
    border: 1px solid;
}