.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
    border-radius: 5px;
    width: max-content;
    cursor: pointer;
    margin: auto;
    font-size: 1.05rem;
    padding: .3rem .5rem;
    background: royalblue;
    color: #fff;
    transition: all .2s;
}

.button:disabled {
    opacity: 70;
    cursor: not-allowed;
}

.button:hover {
    opacity: 80;
    scale: 1.05;
    background: #fff;
    color: royalblue;
}