.body {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    height: 60vh;
    width: 60vh;
    overflow-y: scroll;
}

.input_box {
    text-align: left;
    position: relative;
    width: 100%;
}

.input_box>input {
    padding: 5px;
    width: 100%;
    font-size: 1rem;
}

.input_box>span {
    border: 1px solid;
    height: 100%;
    padding: 5px 1rem;
    font-weight: bolder;
    background-color: grey;
    cursor: pointer;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
}

.input_box>label {
    position: absolute;
    color: grey;
    left: 5px;
    top: 0;
    letter-spacing: 2px;
    pointer-events: none;
    transition: transform .1s linear .1s;
}

.input_box>input:focus~.input_box>label,
input:not(:placeholder-shown)~label {
    left: 0;
    transform: translate(0, -20px);
    font-size: 12px;
}

.label {
    font-size: 12px;
    letter-spacing: 2px;
    color: grey;
    margin-right: 1rem;
    margin-top: -25px;
}