.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    inset: 0;
    z-index: 99;
    outline: 2px solid transparent;
    width: 100%;
    outline-offset: 2px;
    background-color: rgb(38 38 38 / 0.7);
}

.modal>div {
    position: relative;
    margin: auto 24px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    transition: all .5s;
}

.show_modal {
    transition-duration: 300ms;
    height: max-content;
    transform: translate(0);
    opacity: 100;
}

.hide_modal {
    transition-duration: 300ms;
    transform: translate(100%);
    opacity: 0;
}

.modal_content {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.header {
    display: flex;
    align-items: center;
    padding: 24px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    justify-content: space-between;
    position: relative;
    border-bottom-width: 1px;
}

.header>button {
    padding: 4px;
    opacity: 70;
    cursor: pointer;
    margin-left: 1rem;
}

.header>div {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
}

.modal_body {
    position: relative;
    padding: 24px;
    flex: 1 1 auto;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px;
}

.footer>div {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
}

@media (min-width: 1024px) {
    .modal_content {
        height: auto;
    }
}

@media (min-width: 768px) {
    .modal_content {
        height: auto;
    }
}