.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    align-items: center;
    border-bottom: 1px solid;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
    font-size: 1.1rem;
    background-image: linear-gradient(to right, rgba(173, 193, 254, 0.898), rgba(255, 157, 157, 0.687));
    margin-bottom: 1rem;
}

.navbar>ul {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.active {
    color: rgb(3, 185, 3);
    font-weight: bold;
    text-decoration: none;
}

.default {
    color: #000;
    text-decoration: none;
}