.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    background-image: linear-gradient(to right, rgba(173, 193, 254, 0.898), rgba(255, 157, 157, 0.687));
}

.car_image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.car_image>img {
    max-width: 80%;
    height: 30vh;
    object-fit: cover;
    padding: .5rem;
    overflow: hidden;
}

.car_image>img:hover {
    scale: 1.05;
}

h3 {
    color: brown;
    margin-bottom: .8rem;
    border-bottom: 2px solid brown;
}

bdi {
    color: royalblue;
    margin-right: .5rem;
    font-weight: bold;
}

.specs {
    display: flex;
    justify-content: space-around;
    align-self: center;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
}

.btns {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem;
}

.colors {
    display: flex;
    align-items: center;
}

.colors>div {
    display: flex;
    justify-content: center;
    padding: .2rem;
    background: royalblue;
    border-radius: 5px;
    margin-left: 5px;
}

@media (max-width: 768px) {
    .car_image>img {
        max-width: 80%;
        height: auto;
    }
}

@media (max-width: 525px) {
    .specs {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        width: 90%;
        margin: auto;
        padding: 1rem;
    }
}